*.class
*.iml
*.log
*.patch
*.releaseBackup
*~
.byecycle
.classpath
.DS_Store
.gradle
.idea
.manager
.metadata
.privatebuild
.project
.Rhistory
.scala_dependencies
.settings/
.~lock*
bin/
build/
exit
*.ipr
*.iws
IBBars
infinitest.*
log.out
/*/logs
logs-*
push_fast.sh
release.properties
/*/results/
statistics-*
store.local/
target/
taskQueue.obj
uploaded.zip
userlogs
src/main/webapp/Gameboard
src/main/webapp/gtardif.GameboardJUnit
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/deploy
src/main/webapp/WEB-INF/lib/gwt-servlet.jar